$totalWidht: 60em;

#tracks{
  width: $totalWidht;
  height: 100%;
  margin: 0 auto;
}

.track_cover_art{
  width: 100%;
  height: 100%;
}

.track_container{
  width: 15em;
  height: 15em;
}

.track_container.backgrounddrop{
  width: $totalWidht;

  .track_cover_art{
    width: 17.2em;
    height: 17.2em;
  }
}

@media (max-width: 415px) {

  $totalWidht_mobile: 20em;

  #tracks{
    width: $totalWidht_mobile;
  }

  .track_container{
    width: 10em;
    height: 10em;

    &.backgrounddrop{
      width: $totalWidht_mobile;
      .track_cover_art{
        width: 11.5em;
        height: 11.5em;
      }
    }

  }
}