#hs_track_player{
  width: 100vw;
  position: fixed;
  bottom: 0em;
  height: 5em;
  transition: bottom 0.2s ease-in-out;

  .coverart{
    width: 5em;
    height: 5em;
    background-size: cover;
  }

  #hs_player_context{
    position: absolute;
    top: 0em;
    left: 6em;
    width: 90%;
  }

  #playPauseButton{
    position: fixed;
    bottom: 0.5%;
    right: 50%;
    transform: translateX(-50%);
  }

  &.offline{
    bottom: 2em;
  }

  #networkStatusBar{
    background: #161616;
    padding: 0.4em 1em;
    transition: bottom 0.2s ease-in-out;

    p,span{
      color: #FFF;
    }

  }

  @media (max-width: 415px) {
    #hs_player_context{
      width: 90%;
    }

    #title{
      width: 65%;
    }

    #playPauseButton{
      position: absolute;
      bottom: 0.4em;
      right: 1.5em;
    }
  }
}